absl-py==1.4.0
certifi==2023.5.7
charset-normalizer==3.1.0
contextlib2==21.6.0
fair-esm==2.0.0
idna==3.4
joblib==1.2.0
lmdb==1.4.1
ml-collections==0.1.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
protobuf==3.20.3
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
rdkit-pypi==2022.9.5
requests==2.30.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
tensorboardX==2.6
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
